* {
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Bebas Neue', cursive;
}

nav {
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    background-color: #644AAD;
    border-bottom: 5px solid #FF3364;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav li {
    font-size: 25px;
    margin-right: 20px;
}

nav a {
    color: white;
    transition: 0.5s;
}

nav a:hover {
    color: #FF3364;
}

nav img {
    width: 52px;
    height: 52px;
}

section {
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h2 {
    margin: 40px 0;
}

#Produtos {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.cardsProdutos {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 410px;
    border-radius: 4px;
    shape-outside: 5px;
    background-color: #644AAD;
    padding-top: 0;
    transition: 1s;
}

.cardsProdutos:hover {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 430px;
    border-radius: 5px;
    box-shadow: 5px 5px black;
    background-color: #644AAD;
    padding-top: 0;
    transition: 1s;
}

.cardsProdutos img {
    width: 100%;
    height: 300px;
    border-radius: 5px 5px 0 0;
}

.cardProdutosDescricao {
    margin-top: 10px;
}
.cardProdutosDescricao button{
    border-radius: 7px;
    width: 80px;
    height: 30px;
    background-color: #FF3364;
    color: white;
    transition: 0.5s;
}
.cardProdutosDescricao button:hover{
    width: 85px;
    height: 35px;
    background-color: #FF3364;
    color: white;
}
.redesSociais ul {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.redesSociais a {
    display: flex;
    align-items: center;
}

.redesSociais img {
    width: 32px;
    margin-right: 10px;
}

.pagamentos ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.pagamentos li{
    display: flex;
    align-items: center;
    margin-right: 20px;
    
}

.pagamentos img {
    width: 32px;
    height: 32px;
}

.formOrcamento{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    border-radius: 5px;
    box-shadow: 5px 5px black;
    justify-content: center;
    align-items: center;
}